---
import {getCollection, getEntry} from 'astro:content'
// import {Debug} from 'astro:components'
import InfoLayout from "../../layouts/InfoLayout.astro"
import DocsLeftAside from "../../components/DocsLeftAside.astro"

const base = import.meta.env.BASE_URL
---
<InfoLayout title="DOCS" subTitle="文档" tabTitle="文档">
    <DocsLeftAside slot="left-aside"/>

    <article class="h-full flex flex-col justify-center">
        <!--<Debug/>-->
        <h1>Astro Arknights 文档</h1>
        <p>指南、资源和 API 参考，帮助你使用 Astro 进行构建。</p>
    </article>
</InfoLayout>
