---
import InfoLayout from "../../layouts/InfoLayout.astro";

const base = import.meta.env.BASE_URL
---
<InfoLayout title="BLOG" subTitle="博客" tabTitle="博客">
    <!-- TODO: 博客分组列表 -->
    <div slot="aside-footer">
        <!-- TODO: 分组类型选择 -->
    </div>
</InfoLayout>
