---
import {TitleArknights} from "../SvgIcons"
import NavItem, {type NavItemInfo} from "./NavItem"
import {Social, Sound, OwnerInfo} from "./NavTools"
import NavMenu from "./NavMenu"
import arknightsConfig from "../../../arknights.config";
---

<header class="w-full h-[6.75rem] portrait:h-[9.375rem] absolute top-0 left-0 z-[23] flex items-center"
        style="background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8))">
    <a class="w-[7rem] mr-auto ml-[3rem] cursor-pointer" href={"/"} aria-label="首页">
        <TitleArknights className="w-full h-auto pointer-events-none"/>
    </a>
    <nav class="portrait:hidden">
        <ul class="flex justify-evenly">{
            arknightsConfig.navbar.items.map((info: NavItemInfo, index) =>
                    <NavItem client:only="react" {...{index, info}}/>)
        }</ul>
    </nav>
    <div class="w-[14.75rem] h-full flex pl-[.75rem]">
        <Social client:only="react"/>
        <Sound client:only="react"/>
        <OwnerInfo client:only="react"/>
    </div>
    <NavMenu client:only="react"/>
</header>
